.add-plant-section {
    background: white;
    width: 65%;
    margin: 5em auto;
    height: 75vh;
    h2 {
        text-align: center;
        padding: 20px;
        font-size: 3em;
    }
    form {
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 60%;
        margin: auto;
        label {
           font-size: 25px;
        }
        input {
           font-size: 20px;
           margin-bottom: 20px;
        }
        button {
            font-size: 28px;
            margin: 20px;
            border-radius: 10px;
            padding: 5px;
            color: white;
            font-weight: bold;
            background-color: darkseagreen;
        }
    }
}