.view-plant {
    background: white;
    padding: 40px;
    width: 80%;
    margin: 45px auto;
    height: 70vh;
    .back-button {

    }
    .all-plant {
        display: flex;
        justify-content: space-around;
        .view-plant-info {
        
        }
    }
}